<div class="sidebar">
  <h3>Quản trị viên</h3>

  <div onclick="go('./admin.html')">Tổng quan</div>
  <div onclick="go('./accountManagerment.html')">Quản lý tài khoản</div>
  <div onclick="go('./companyManagement.html')">Quản lý công ty</div>
  <div onclick="go('./candidateManagement.html')">Quản lý ứng viên</div>
  <div onclick="go('./jobPostingManagement.html')">Quản lý tin tuyển dụng</div>
  <div onclick="go('./transactionManagement.html')">Quản lý giao dịch</div>
  <div onclick="go('./statisticAnalytic.html')">Thống kê và phân tích</div>

  <hr>
  <div onclick="logout()">Đăng xuất</div>
</div>